.lettersToEditorValidate:before {content : "* ";color: red;}
.contactUsValidate:before {content : "* ";color: red;}
.hotTipsValidate:before {content : "* ";color: red;}
.successfulSubmission {
  background: rgb(226,167,127); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(226,167,127,1) 0%, rgba(231,129,57,1) 58%, rgba(231,129,57,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,167,127,1)), color-stop(58%,rgba(231,129,57,1)), color-stop(100%,rgba(231,129,57,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(226,167,127,1) 0%,rgba(231,129,57,1) 58%,rgba(231,129,57,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(226,167,127,1) 0%,rgba(231,129,57,1) 58%,rgba(231,129,57,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(226,167,127,1) 0%,rgba(231,129,57,1) 58%,rgba(231,129,57,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(226,167,127,1) 0%,rgba(231,129,57,1) 58%,rgba(231,129,57,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a77f', endColorstr='#e78139',GradientType=0 ); /* IE6-9 */
  border-radius:5px;
}
.error{
  color:red;
  display:block;
}
.pubMessages{
  font-weight:normal;

}

input, select,textarea{
  width:20em;
}


.error_redirect {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 0px;
  text-align: center;
  margin: 0 0 1.5em;
}